
/* Base Styles */
body {
  font-family: "DM Sans", sans-serif;
  background-color: #030014;
  margin: 0;
  padding: 0;
}

h1 {
  max-width: 64rem;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: white;
}

@media (min-width: 640px) {
  h1 {
    font-size: 4rem;
    line-height: 4.75rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

@media (min-width: 640px) {
  h2 {
    font-size: 1.875rem;
  }
}

main {
  min-height: 100vh;
  position: relative;
  background-color: #030014;
}

header {
  margin-top: 1.25rem;
}

@media (min-width: 640px) {
  header {
    margin-top: 2.5rem;
  }
}

header img {
  display: block;
  width: 100%;
  max-width: 32rem;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));
}

/* Components */
.pattern {
  background-image: url("/hero-bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.wrapper {
  padding: 3rem 1.25rem;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.trending {
  margin-top: 5rem;
}

.trending ul {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  gap: 1.25rem;
  margin-top: -2.5rem;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.trending ul::-webkit-scrollbar {
  display: none;
}

.trending ul li {
  min-width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trending ul li p {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 1.375rem;
  white-space: nowrap;
}

.trending ul li img {
  width: 127px;
  height: 163px;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-left: -0.875rem;
}

.search {
  width: 100%;
  background-color: rgba(206, 206, 251, 0.05);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.search div {
  position: relative;
  display: flex;
  align-items: center;
}

.search img {
  position: absolute;
  left: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}

.search input {
  width: 100%;
  background-color: transparent;
  padding: 0.5rem 0.625rem 0.5rem 2.5rem;
  font-size: 1rem;
  color: #e5e5e5;
  border: none;
  outline: none;
}

.search input::placeholder {
  color: #a8b5db;
}

.all-movies {
  margin-top: 2rem;
}

.all-movies ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

@media (min-width: 480px) {
  .all-movies ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .all-movies ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .all-movies ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movie-card {
  background-color: #0f0d23;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 0.75rem rgba(206, 206, 251, 0.1);
}

.movie-card img {
  border-radius: 0.5rem;
  height: auto;
  width: 100%;
}

.movie-card h3 {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card .content {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.movie-card .rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.movie-card .rating img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.movie-card .rating p {
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.movie-card .content span {
  font-size: 0.875rem;
  color: #9ca4ab;
}

.movie-card .lang,
.movie-card .year {
  color: #9ca4ab;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

.text-gradient {
  background: linear-gradient(to right, #D6C7FF, #AB8BFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
